html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    background-image: url(images/new-release-banner-blur.png);
    
}

.division {
    display: none;
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.division video{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.4);
    
}

.trending{
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff7300;
}

.glow-on-hover {
width: 120px;
height: 50px;
margin-top: 15px;
font-size: 18px;
font-weight: 600;
border: none;
outline: none;
color: #fff;
background: #111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
}

.glow-on-hover:before {
content: '';
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s linear infinite;
opacity: 0;
transition: opacity .3s ease-in-out;
border-radius: 10px;
}

.glow-on-hover:active {
color: #000
}

.glow-on-hover:active:after {
background: transparent;
}

.glow-on-hover:hover:before {
opacity: 1;
}

.glow-on-hover:after {
z-index: -1;
content: '';
position: absolute;
width: 100%;
height: 100%;
background: #ff3c00;
left: 0;
top: 0;
border-radius: 10px;
}

.inner-body{
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 4%;
    color: white;
}
.movie-name{
    text-shadow: 2px 2px 5px black;
}
.certification{
    border: 2px solid white;
    color: white;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    width: min-content;
    text-shadow: 2px 2px 5px black;
}
.movie-length{
    padding-left: 15px;
    text-shadow: 2px 2px 5px black;
}
/* gold button */
.gold-button {
    width: 150px;
    height: 50px;
    overflow: hidden;
    display: block;
    position: relative;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-top: 2px solid orange;
    border-left: 2px solid rgb(255, 214, 153);
    border-bottom: 2px solid rgb(179, 107, 0);
    border-right: 2px solid rgb(102, 61, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
  }
  .gold-button:hover
  {
    border-bottom: 2px solid orange;
    border-right: 2px solid rgb(255, 214, 153);
    border-top: 2px solid rgb(179, 107, 0);
    border-left: 2px solid rgb(102, 61, 0);
    box-shadow: 2px 2px 8px #aaa;
  }
  .gold-button a
  {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: verdana, sans;
    font-style: italic;
    color: rgba(255,255,255, .7);
    text-align: center;
    padding: 10px 12px; 
  }
  
  .gold-button:after {
    content: "";
    position: absolute;
    top: -100%;
    right: -100%;
    width: 50%;
    height: 300%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%,  rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0.0) 100%);
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    to {
      opacity: 1;
      right: 150%;
    }
  }

@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}


@keyframes slidein {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100%;
    }
}

/* nav-bar */
.navbar {
    background-color: #333;
    height: 62px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav .nav-link {
    padding: 10px;
    transition: 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #555;
  }
  
  .navbar-toggler-icon {
    color: #fff;
  }
  
  .dropdown-menu {
    background-color: #333;
    border: none;
    -webkit-animation: fadeInDown 0.3s;
            animation: fadeInDown 0.3s;
  }
  
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .dropdown-item {
    color: #fff;
    transition: 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #555;
  }
  
  .search-form{
    display: flex;
    align-items: center;
  }
  .search-input{
    display: flex;
    position: relative;
    height: 44px;
    padding: 0px 7px;
    border-radius: 50px;
    border: none;
    background-color: #555;
    color: white;
    align-items: center;
  }
  
  .search-button{
    position: absolute;
    right: 16.5%;
    border: none;
    background-color: #bbb;
    width: 44px;
    height: 44px;
    font-size: 20px;
    border-radius:50px ;
  }
  
  .sign-in{
    border: none;
    margin: 0 10px;
    height: 44px;
    padding: 0px 15px;
    border-radius: 15px;
    background-color: #ff3c00 ;
    color: white;
    font-weight: 600;
  }
  
  /* week-selection */
  .week-container{
    visibility: hidden;
    width: max-content;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56%;
    border-radius: 12px;
  }
  .week{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #333;
    border-radius: 13px;
    box-shadow: 2px 2px 5px black;
  }
  .day{
    width: 16.6%;
    font-size: 20px;
    padding: 20px 12px;
    margin: 0;
    text-align: center;
  }

.day:hover{
  background-color: #ff3c00 ;
  border-radius: 9px;
  cursor: pointer;
}

.week-container .fa-close{
  font-size: 20px;
  float: right;
  margin: 10px;
}
.week-container .fa-close:hover{
  color: white;
  opacity: 0.8;
}

/* road-animation */
.container-road{
  width: 200px;
  margin: auto;
  position: relative;
}
#road{
  width: 100%;
}
.cars{
  width:8%;
  object-fit: cover;
  position: absolute;
  top: 8%;
  left: 45.5%;
  visibility: hidden;
}

@keyframes move-left {
  0%{
      scale: 0;
  }
  70%{
      opacity: 1;
  }
  100%{
      scale: 5;
      top: 48%;
      left: 20%;
      opacity: 0;
  }
}
@keyframes move-right {
  0%{
      scale: 0;
  }
  70%{
      opacity: 1;
  }
  100%{
      scale: 5;
      top: 48%;
      left: 68%;
      opacity: 0;
  }
}